#### import libraries

In [2]:
import sqlite3

#### set up python sqlite query

In [23]:
## initialize connector and cursor
## note: db_name can be just the database name or the full path to the db file
def query_db(db_name, query):
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    #print(f"Executing query: {query}")
    cursor.execute(query)
    results = cursor.fetchall()
    #print(f"Query returned {len(results)} results")
    #print("closing db connection")
    conn.close()
    return results

In [27]:
## get list of all tables in the database
db_name = 'chinook.db'
cmd = \
'''
SELECT FROM sqlite_master WHERE type='table';
'''
tables = [i[0] for i in query_db('chinook.db', "SELECT name FROM sqlite_master WHERE type='table';")]
cols= []
for table in tables:
    cmd=f'''
    PRAGMA table_info({table});
    '''
    cols.append([i[1] for i in query_db(db_name, cmd)])
    #print(f'checking table: {table}')
    #print(query_db(db_name, cmd))

info = {table : cols[i] for i,table in enumerate(tables)}

for i,j in info.items():
    print(f"Table: {i}")
    print('='*80)
    print(f"Columns: {j}")
    print('='*80+'\n')

## get all columns in a table

Table: albums
================================================================================
Columns: ['AlbumId', 'Title', 'ArtistId']
================================================================================

Table: sqlite_sequence
================================================================================
Columns: ['name', 'seq']
================================================================================

Table: artists
================================================================================
Columns: ['ArtistId', 'Name']
================================================================================

Table: customers
================================================================================
Columns: ['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId']
================================================================================

Table: employees
================================================================================
Columns: ['EmployeeId', 'LastName', 'FirstName', 'Title', 'ReportsTo', 'BirthDate', 'HireDate', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email']
================================================================================

Table: genres
================================================================================
Columns: ['GenreId', 'Name']
================================================================================

Table: invoices
================================================================================
Columns: ['InvoiceId', 'CustomerId', 'InvoiceDate', 'BillingAddress', 'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode', 'Total']
================================================================================

Table: invoice_items
================================================================================
Columns: ['InvoiceLineId', 'InvoiceId', 'TrackId', 'UnitPrice', 'Quantity']
================================================================================

Table: media_types
================================================================================
Columns: ['MediaTypeId', 'Name']
================================================================================

Table: playlists
================================================================================
Columns: ['PlaylistId', 'Name']
================================================================================

Table: playlist_track
================================================================================
Columns: ['PlaylistId', 'TrackId']
================================================================================

Table: tracks
================================================================================
Columns: ['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']
================================================================================

Table: sqlite_stat1
================================================================================
Columns: ['tbl', 'idx', 'stat']
================================================================================

Table: Carriers
================================================================================
Columns: ['cid', 'name']
================================================================================

Table: Months
================================================================================
Columns: ['mid', 'month']
================================================================================

Table: Weekdays
================================================================================
Columns: ['did', 'day_of_week']
================================================================================

Table: Flights
================================================================================
Columns: ['fid', 'month_id', 'day_of_month', 'day_of_week_id', 'carrier_id', 'flight_num', 'origin_city', 'origin_state', 'dest_city', 'dest_state', 'departure_delay', 'taxi_out', 'arrival_delay', 'canceled', 'actual_time', 'distance', 'capacity', 'price']
================================================================================

### Question 1: 
Find all the tracks that have a length of 1,000,000 milliseconds or less.
a. Return only the TrackId column.
[Output relation cardinality: 3288 row]

Logic:
1. Select only the TrackId column from the tracks table
2. Filter the results to include only tracks where the Milliseconds value is less than or equal to 1,000,000
3. This is a simple filter operation that doesn't require joins, grouping, or aggregation

In [5]:
cmd = \
"""
SELECT t.TrackId
  FROM tracks as t
 WHERE t.Milliseconds <= 1000000;
"""

query_db('chinook.db', cmd)

Executing query:
SELECT t.TrackId
  FROM tracks as t
 WHERE t.Milliseconds <= 1000000;

Query returned 3288 results
closing db connection

[(1,),
 (2,),
 (3,),
 (4,),
 (5,),
 (6,),
 (7,),
 (8,),
 (9,),
 (10,),
 (11,),
 (12,),
 (13,),
 (14,),
 (15,),
 (16,),
 (17,),
 (18,),
 (19,),
 (20,),
 (21,),
 (22,),
 (23,),
 (24,),
 (25,),
 (26,),
 (27,),
 (28,),
 (29,),
 (30,),
 (31,),
 (32,),
 (33,),
 (34,),
 (35,),
 (36,),
 (37,),
 (38,),
 (39,),
 (40,),
 (41,),
 (42,),
 (43,),
 (44,),
 (45,),
 (46,),
 (47,),
 (48,),
 (49,),
 (50,),
 (51,),
 (52,),
 (53,),
 (54,),
 (55,),
 (56,),
 (57,),
 (58,),
 (59,),
 (60,),
 (61,),
 (62,),
 (63,),
 (64,),
 (65,),
 (66,),
 (67,),
 (68,),
 (69,),
 (70,),
 (71,),
 (72,),
 (73,),
 (74,),
 (75,),
 (76,),
 (77,),
 (78,),
 (79,),
 (80,),
 (81,),
 (82,),
 (83,),
 (84,),
 (85,),
 (86,),
 (87,),
 (88,),
 (89,),
 (90,),
 (91,),
 (92,),
 (93,),
 (94,),
 (95,),
 (96,),
 (97,),
 (98,),
 (99,),
 (100,),
 (101,),
 (102,),
 (103,),
 (104,),
 (105,),
 (106,),
 (107,),
 (108,),
 (109,),
 (110,),
 (111,),
 (112,),
 (113,),
 (114,),
 (115,),
 (116,),
 (117,),
 (118,),
 (119,),
 (120,),
 (121,),
 (122,),
 (123,),
 (124,),
 (125,),
 (126,),
 (127,),
 (128,),
 (129,),
 (130,),
 (131,),
 (132,),
 (133,),
 (134,),
 (135,),
 (136,),
 (137,),
 (138,),
 (139,),
 (140,),
 (141,),
 (142,),
 (143,),
 (144,),
 (145,),
 (146,),
 (147,),
 (148,),
 (149,),
 (150,),
 (151,),
 (152,),
 (153,),
 (154,),
 (155,),
 (156,),
 (157,),
 (158,),
 (159,),
 (160,),
 (161,),
 (162,),
 (163,),
 (164,),
 (165,),
 (166,),
 (167,),
 (168,),
 (169,),
 (170,),
 (171,),
 (172,),
 (173,),
 (174,),
 (175,),
 (176,),
 (177,),
 (178,),
 (179,),
 (180,),
 (181,),
 (182,),
 (183,),
 (184,),
 (185,),
 (186,),
 (187,),
 (188,),
 (189,),
 (190,),
 (191,),
 (192,),
 (193,),
 (194,),
 (195,),
 (196,),
 (197,),
 (198,),
 (199,),
 (200,),
 (201,),
 (202,),
 (203,),
 (204,),
 (205,),
 (206,),
 (207,),
 (208,),
 (209,),
 (210,),
 (211,),
 (212,),
 (213,),
 (214,),
 (215,),
 (216,),
 (217,),
 (218,),
 (219,),
 (220,),
 (221,),
 (222,),
 (223,),
 (224,),
 (225,),
 (226,),
 (227,),
 (228,),
 (229,),
 (230,),
 (231,),
 (232,),
 (233,),
 (234,),
 (235,),
 (236,),
 (237,),
 (238,),
 (239,),
 (240,),
 (241,),
 (242,),
 (243,),
 (244,),
 (245,),
 (246,),
 (247,),
 (248,),
 (249,),
 (250,),
 (251,),
 (252,),
 (253,),
 (254,),
 (255,),
 (256,),
 (257,),
 (258,),
 (259,),
 (260,),
 (261,),
 (262,),
 (263,),
 (264,),
 (265,),
 (266,),
 (267,),
 (268,),
 (269,),
 (270,),
 (271,),
 (272,),
 (273,),
 (274,),
 (275,),
 (276,),
 (277,),
 (278,),
 (279,),
 (280,),
 (281,),
 (282,),
 (283,),
 (284,),
 (285,),
 (286,),
 (287,),
 (288,),
 (289,),
 (290,),
 (291,),
 (292,),
 (293,),
 (294,),
 (295,),
 (296,),
 (297,),
 (298,),
 (299,),
 (300,),
 (301,),
 (302,),
 (303,),
 (304,),
 (305,),
 (306,),
 (307,),
 (308,),
 (309,),
 (310,),
 (311,),
 (312,),
 (313,),
 (314,),
 (315,),
 (316,),
 (317,),
 (318,),
 (319,),
 (320,),
 (321,),
 (322,),
 (323,),
 (324,),
 (325,),
 (326,),
 (327,),
 (328,),
 (329,),
 (330,),
 (331,),
 (332,),
 (333,),
 (334,),
 (335,),
 (336,),
 (337,),
 (338,),
 (339,),
 (340,),
 (341,),
 (342,),
 (343,),
 (344,),
 (345,),
 (346,),
 (347,),
 (348,),
 (349,),
 (350,),
 (351,),
 (352,),
 (353,),
 (354,),
 (355,),
 (356,),
 (357,),
 (358,),
 (359,),
 (360,),
 (361,),
 (362,),
 (363,),
 (364,),
 (365,),
 (366,),
 (367,),
 (368,),
 (369,),
 (370,),
 (371,),
 (372,),
 (373,),
 (374,),
 (375,),
 (376,),
 (377,),
 (378,),
 (379,),
 (380,),
 (381,),
 (382,),
 (383,),
 (384,),
 (385,),
 (386,),
 (387,),
 (388,),
 (389,),
 (390,),
 (391,),
 (392,),
 (393,),
 (394,),
 (395,),
 (396,),
 (397,),
 (398,),
 (399,),
 (400,),
 (401,),
 (402,),
 (403,),
 (404,),
 (405,),
 (406,),
 (407,),
 (408,),
 (409,),
 (410,),
 (411,),
 (412,),
 (413,),
 (414,),
 (415,),
 (416,),
 (417,),
 (418,),
 (419,),
 (420,),
 (421,),
 (422,),
 (423,),
 (424,),
 (425,),
 (426,),
 (427,),
 (428,),
 (429,),
 (430,),
 (431,),
 (432,),
 (433,),
 (434,),
 (435,),
 (436,),
 (437,),
 (438,),
 (439,),
 (440,),
 (441,),
 (442,),
 (443,),
 (444,),
 (445,),
 (446,),
 (447,),
 (448,),
 (449,),
 (450,),
 (451,),
 (452,),
 (453,),
 (454,),
 (455,),
 (456,),
 (457,),
 (458,),
 (459,),
 (460,),
 (461,),
 (462,),
 (463,),
 (464,),
 (465,),
 (466,),
 (467,),
 (468,),
 (469,),
 (470,),
 (471,),
 (472,),
 (473,),
 (474,),
 (475,),
 (476,),
 (477,),
 (478,),
 (479,),
 (480,),
 (481,),
 (482,),
 (483,),
 (484,),
 (485,),
 (486,),
 (487,),
 (488,),
 (489,),
 (490,),
 (491,),
 (492,),
 (493,),
 (494,),
 (495,),
 (496,),
 (497,),
 (498,),
 (499,),
 (500,),
 (501,),
 (502,),
 (503,),
 (504,),
 (505,),
 (506,),
 (507,),
 (508,),
 (509,),
 (510,),
 (511,),
 (512,),
 (513,),
 (514,),
 (515,),
 (516,),
 (517,),
 (518,),
 (519,),
 (520,),
 (521,),
 (522,),
 (523,),
 (524,),
 (525,),
 (526,),
 (527,),
 (528,),
 (529,),
 (530,),
 (531,),
 (532,),
 (533,),
 (534,),
 (535,),
 (536,),
 (537,),
 (538,),
 (539,),
 (540,),
 (541,),
 (542,),
 (543,),
 (544,),
 (545,),
 (546,),
 (547,),
 (548,),
 (549,),
 (550,),
 (551,),
 (552,),
 (553,),
 (554,),
 (555,),
 (556,),
 (557,),
 (558,),
 (559,),
 (560,),
 (561,),
 (562,),
 (563,),
 (564,),
 (565,),
 (566,),
 (567,),
 (568,),
 (569,),
 (570,),
 (571,),
 (572,),
 (573,),
 (574,),
 (575,),
 (576,),
 (577,),
 (578,),
 (579,),
 (580,),
 (581,),
 (582,),
 (583,),
 (584,),
 (585,),
 (586,),
 (587,),
 (588,),
 (589,),
 (590,),
 (591,),
 (592,),
 (593,),
 (594,),
 (595,),
 (596,),
 (597,),
 (598,),
 (599,),
 (600,),
 (601,),
 (602,),
 (603,),
 (604,),
 (605,),
 (606,),
 (607,),
 (608,),
 (609,),
 (610,),
 (611,),
 (612,),
 (613,),
 (614,),
 (615,),
 (616,),
 (617,),
 (618,),
 (619,),
 (621,),
 (622,),
 (623,),
 (624,),
 (625,),
 (626,),
 (627,),
 (628,),
 (629,),
 (630,),
 (631,),
 (632,),
 (633,),
 (634,),
 (635,),
 (636,),
 (637,),
 (638,),
 (639,),
 (640,),
 (641,),
 (642,),
 (643,),
 (644,),
 (645,),
 (646,),
 (647,),
 (648,),
 (649,),
 (650,),
 (651,),
 (652,),
 (653,),
 (654,),
 (655,),
 (656,),
 (657,),
 (658,),
 (659,),
 (660,),
 (661,),
 (662,),
 (663,),
 (664,),
 (665,),
 (666,),
 (667,),
 (668,),
 (669,),
 (670,),
 (671,),
 (672,),
 (673,),
 (674,),
 (675,),
 (676,),
 (677,),
 (678,),
 (679,),
 (680,),
 (681,),
 (682,),
 (683,),
 (684,),
 (685,),
 (686,),
 (687,),
 (688,),
 (689,),
 (690,),
 (691,),
 (692,),
 (693,),
 (694,),
 (695,),
 (696,),
 (697,),
 (698,),
 (699,),
 (700,),
 (701,),
 (702,),
 (703,),
 (704,),
 (705,),
 (706,),
 (707,),
 (708,),
 (709,),
 (710,),
 (711,),
 (712,),
 (713,),
 (714,),
 (715,),
 (716,),
 (717,),
 (718,),
 (719,),
 (720,),
 (721,),
 (722,),
 (723,),
 (724,),
 (725,),
 (726,),
 (727,),
 (728,),
 (729,),
 (730,),
 (731,),
 (732,),
 (733,),
 (734,),
 (735,),
 (736,),
 (737,),
 (738,),
 (739,),
 (740,),
 (741,),
 (742,),
 (743,),
 (744,),
 (745,),
 (746,),
 (747,),
 (748,),
 (749,),
 (750,),
 (751,),
 (752,),
 (753,),
 (754,),
 (755,),
 (756,),
 (757,),
 (758,),
 (759,),
 (760,),
 (761,),
 (762,),
 (763,),
 (764,),
 (765,),
 (766,),
 (767,),
 (768,),
 (769,),
 (770,),
 (771,),
 (772,),
 (773,),
 (774,),
 (775,),
 (776,),
 (777,),
 (778,),
 (779,),
 (780,),
 (781,),
 (782,),
 (783,),
 (784,),
 (785,),
 (786,),
 (787,),
 (788,),
 (789,),
 (790,),
 (791,),
 (792,),
 (793,),
 (794,),
 (795,),
 (796,),
 (797,),
 (798,),
 (799,),
 (800,),
 (801,),
 (802,),
 (803,),
 (804,),
 (805,),
 (806,),
 (807,),
 (808,),
 (809,),
 (810,),
 (811,),
 (812,),
 (813,),
 (814,),
 (815,),
 (816,),
 (817,),
 (818,),
 (819,),
 (820,),
 (821,),
 (822,),
 (823,),
 (824,),
 (825,),
 (826,),
 (827,),
 (828,),
 (829,),
 (830,),
 (831,),
 (832,),
 (833,),
 (834,),
 (835,),
 (836,),
 (837,),
 (838,),
 (839,),
 (840,),
 (841,),
 (842,),
 (843,),
 (844,),
 (845,),
 (846,),
 (847,),
 (848,),
 (849,),
 (850,),
 (851,),
 (852,),
 (853,),
 (854,),
 (855,),
 (856,),
 (857,),
 (858,),
 (859,),
 (860,),
 (861,),
 (862,),
 (863,),
 (864,),
 (865,),
 (866,),
 (867,),
 (868,),
 (869,),
 (870,),
 (871,),
 (872,),
 (873,),
 (874,),
 (875,),
 (876,),
 (877,),
 (878,),
 (879,),
 (880,),
 (881,),
 (882,),
 (883,),
 (884,),
 (885,),
 (886,),
 (887,),
 (888,),
 (889,),
 (890,),
 (891,),
 (892,),
 (893,),
 (894,),
 (895,),
 (896,),
 (897,),
 (898,),
 (899,),
 (900,),
 (901,),
 (902,),
 (903,),
 (904,),
 (905,),
 (906,),
 (907,),
 (908,),
 (909,),
 (910,),
 (911,),
 (912,),
 (913,),
 (914,),
 (915,),
 (916,),
 (917,),
 (918,),
 (919,),
 (920,),
 (921,),
 (922,),
 (923,),
 (924,),
 (925,),
 (926,),
 (927,),
 (928,),
 (929,),
 (930,),
 (931,),
 (932,),
 (933,),
 (934,),
 (935,),
 (936,),
 (937,),
 (938,),
 (939,),
 (940,),
 (941,),
 (942,),
 (943,),
 (944,),
 (945,),
 (946,),
 (947,),
 (948,),
 (949,),
 (950,),
 (951,),
 (952,),
 (953,),
 (954,),
 (955,),
 (956,),
 (957,),
 (958,),
 (959,),
 (960,),
 (961,),
 (962,),
 (963,),
 (964,),
 (965,),
 (966,),
 (967,),
 (968,),
 (969,),
 (970,),
 (971,),
 (972,),
 (973,),
 (974,),
 (975,),
 (976,),
 (977,),
 (978,),
 (979,),
 (980,),
 (981,),
 (982,),
 (983,),
 (984,),
 (985,),
 (986,),
 (987,),
 (988,),
 (989,),
 (990,),
 (991,),
 (992,),
 (993,),
 (994,),
 (995,),
 (996,),
 (997,),
 (998,),
 (999,),
 (1000,),
 (1001,),
 ...]

/*
### Question 2: Find all the invoices from the billing country USA, and Canada and sort in descending order by invoice ID.
- a. Return two attributes: invoiceID and Total.
- [Output relation cardinality: 147 rows]

### Logic:
1. Select InvoiceId and Total from the Invoice table.
2. Filter the invoices where the BillingCountry is either 'USA' or 'Canada'.
3. Sort the results in descending order by InvoiceId.
*/

In [6]:
cmd = \
"""
  SELECT i.InvoiceId,
         i.Total
    FROM invoices AS i
   WHERE i.BillingCountry IN ('USA', 'Canada')
ORDER BY i.InvoiceId DESC;
"""
query_db('chinook.db', cmd)

Executing query:
  SELECT i.InvoiceId,
         i.Total
    FROM invoices AS i
   WHERE i.BillingCountry IN ('USA', 'Canada')
ORDER BY i.InvoiceId DESC;

Query returned 147 results
closing db connection

[(409, 5.94),
 (408, 3.96),
 (407, 1.98),
 (406, 1.98),
 (405, 0.99),
 (397, 13.86),
 (396, 8.91),
 (391, 0.99),
 (388, 5.94),
 (387, 3.96),
 (386, 1.98),
 (385, 1.98),
 (384, 0.99),
 (376, 13.86),
 (375, 8.91),
 (374, 5.94),
 (366, 3.96),
 (365, 1.98),
 (364, 1.98),
 (363, 0.99),
 (362, 13.86),
 (354, 8.91),
 (353, 5.94),
 (352, 3.96),
 (351, 1.98),
 (343, 1.98),
 (342, 0.99),
 (341, 13.86),
 (339, 5.94),
 (333, 8.91),
 (332, 5.94),
 (331, 3.96),
 (330, 1.98),
 (329, 1.98),
 (328, 0.99),
 (320, 13.86),
 (317, 3.96),
 (311, 11.94),
 (310, 7.96),
 (309, 3.98),
 (308, 3.98),
 (307, 1.99),
 (299, 23.86),
 (298, 10.91),
 (294, 1.98),
 (290, 5.94),
 (289, 3.96),
 (288, 1.98),
 (287, 1.98),
 (286, 0.99),
 (278, 13.86),
 (277, 8.91),
 (276, 5.94),
 (268, 3.96),
 (267, 1.98),
 (266, 1.98),
 (265, 0.99),
 (256, 8.91),
 (255, 5.94),
 (254, 3.96),
 (245, 1.98),
 (244, 0.99),
 (243, 13.86),
 (235, 8.91),
 (234, 5.94),
 (233, 3.96),
 (232, 1.98),
 (231, 1.98),
 (230, 0.99),
 (222, 13.86),
 (214, 8.91),
 (213, 5.94),
 (212, 3.96),
 (211, 1.98),
 (210, 1.98),
 (209, 0.99),
 (201, 18.86),
 (200, 8.91),
 (192, 5.94),
 (191, 3.96),
 (190, 1.98),
 (189, 1.98),
 (188, 0.99),
 (180, 13.86),
 (179, 8.91),
 (178, 5.94),
 (170, 3.96),
 (169, 1.98),
 (168, 1.98),
 (167, 0.99),
 (165, 8.91),
 (159, 13.86),
 (158, 8.91),
 (157, 5.94),
 (156, 3.96),
 (148, 1.98),
 (147, 1.98),
 (146, 0.99),
 (145, 13.86),
 (137, 8.91),
 (136, 5.94),
 (135, 3.96),
 (134, 1.98),
 (133, 1.98),
 (124, 13.86),
 (116, 8.91),
 (115, 5.94),
 (114, 3.96),
 (113, 1.98),
 (112, 1.98),
 (111, 0.99),
 (110, 13.86),
 (103, 15.86),
 (102, 9.91),
 (99, 3.98),
 (94, 5.94),
 (93, 3.96),
 (92, 1.98),
 (91, 1.98),
 (90, 0.99),
 (82, 13.86),
 (81, 8.91),
 (72, 3.96),
 (71, 1.98),
 (70, 1.98),
 (69, 0.99),
 (61, 13.86),
 (60, 8.91),
 (59, 5.94),
 (50, 1.98),
 (49, 1.98),
 (48, 0.99),
 (47, 13.86),
 (39, 8.91),
 (38, 5.94),
 (37, 3.96),
 (36, 1.98),
 (27, 0.99),
 (26, 13.86),
 (18, 8.91),
 (17, 5.94),
 (16, 3.96),
 (15, 1.98),
 (14, 1.98),
 (13, 0.99),
 (5, 13.86),
 (4, 8.91)]

#### Question 3: Find the albums with 25 or more tracks.
- a. Return albumId and count of tracks for each albumId.
- [Output relation cardinality: 6 rows]

Logic:
1. Join the Album and Track tables on AlbumId.
2. Group the results by AlbumId.
3. Count the tracks for each album.
4. Filter the results to include only albums with 25 or more tracks using HAVING clause.
5. Return AlbumId and the count of tracks.

In [28]:
cmd = \
"""
  SELECT t.AlbumId,
         COUNT(t.TrackId) AS TrackCount
    FROM tracks AS t
GROUP BY t.AlbumId
  HAVING COUNT(TrackId) >= 25;
"""
query_db('chinook.db', cmd)

[(23, 34), (73, 30), (141, 57), (229, 26), (230, 25), (251, 25)]

#### Question 4: Write a query that returns a table consisting of the billing countries and the number of invoices for each country sorted by the country name.
- a. Your output should include BillingCountry attribute and a count column for the number of invoices.
- [Output relation cardinality: 24 rows]

Logic:
1. Select BillingCountry and count of invoices from the Invoice table.
2. Group the results by BillingCountry.
3. Sort the results by BillingCountry.

In [29]:
# Fixed: Use the correct SQLite syntax to list all tables
cmd = \
"""
  SELECT i.BillingCountry,
         COUNT(i.InvoiceId) AS InvoiceCount
    FROM invoices AS i
GROUP BY i.BillingCountry
ORDER BY i.BillingCountry;
"""
query_db('chinook.db', cmd)

[('Argentina', 7),
 ('Australia', 7),
 ('Austria', 7),
 ('Belgium', 7),
 ('Brazil', 35),
 ('Canada', 56),
 ('Chile', 7),
 ('Czech Republic', 14),
 ('Denmark', 7),
 ('Finland', 7),
 ('France', 35),
 ('Germany', 28),
 ('Hungary', 7),
 ('India', 13),
 ('Ireland', 7),
 ('Italy', 7),
 ('Netherlands', 7),
 ('Norway', 7),
 ('Poland', 7),
 ('Portugal', 14),
 ('Spain', 7),
 ('Sweden', 7),
 ('USA', 91),
 ('United Kingdom', 21)]

#### Question 5: Write a query that returns a table consisting of the customers and the total amount of money spent by each customer.
- a. Output customerID attribute and total money spent.
- [Output relation cardinality: 59 rows]

Logic:
1. Join the customers and invoices tables on CustomerId.
2. Group the results by CustomerId.
3. Sum the Total from the invoices table for each customer.
4. Return CustomerId and the total amount spent.

In [30]:
# Fixed: Use the correct SQLite syntax to list all tables
cmd = \
"""
  SELECT c.CustomerId,
         SUM(i.Total) AS TotalSpent
    FROM customers AS c
    JOIN invoices AS i 
      ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId;
"""
query_db('chinook.db', cmd)

[(1, 39.62),
 (2, 37.62),
 (3, 39.62),
 (4, 39.62),
 (5, 40.62),
 (6, 49.62),
 (7, 42.62),
 (8, 37.62),
 (9, 37.62),
 (10, 37.62),
 (11, 37.62),
 (12, 37.62),
 (13, 37.62),
 (14, 37.62),
 (15, 38.62),
 (16, 37.62),
 (17, 39.62),
 (18, 37.62),
 (19, 38.62),
 (20, 39.62),
 (21, 37.62),
 (22, 39.62),
 (23, 37.62),
 (24, 43.62),
 (25, 42.62),
 (26, 47.62),
 (27, 37.62),
 (28, 43.62),
 (29, 37.62),
 (30, 37.62),
 (31, 37.62),
 (32, 37.62),
 (33, 37.62),
 (34, 39.62),
 (35, 37.62),
 (36, 37.62),
 (37, 43.62),
 (38, 37.62),
 (39, 38.62),
 (40, 38.62),
 (41, 37.62),
 (42, 39.62),
 (43, 40.62),
 (44, 41.62),
 (45, 45.62),
 (46, 45.62),
 (47, 37.62),
 (48, 40.62),
 (49, 37.62),
 (50, 37.62),
 (51, 38.62),
 (52, 37.62),
 (53, 37.62),
 (54, 37.62),
 (55, 37.62),
 (56, 37.62),
 (57, 46.62),
 (58, 38.62),
 (59, 36.64)]

#### Question 6: Write a query that returns the customerID for customers that are Blues listeners. The answer should not contain duplicates.
- [Output relation cardinality: 23 rows]

Logic:
1. Join the customers, invoices, invoice_items, tracks, and genres tables.
2. Filter the results to include only customers who have listened to the "Blues" genre.
3. Select the distinct CustomerId.

In [31]:
# Fixed: Use the correct SQLite syntax to list all tables
cmd = \
"""
SELECT DISTINCT c.CustomerId
  FROM customers AS c
  JOIN invoices AS i 
    ON c.CustomerId = i.CustomerId
  JOIN invoice_items AS ii 
    ON i.InvoiceId = ii.InvoiceId
  JOIN tracks AS t 
    ON ii.TrackId = t.TrackId
  JOIN genres g 
    ON t.GenreId = g.GenreId
 WHERE g.Name = 'Blues';
"""
query_db('chinook.db', cmd)

[(2,),
 (6,),
 (13,),
 (14,),
 (16,),
 (18,),
 (19,),
 (22,),
 (23,),
 (27,),
 (32,),
 (35,),
 (36,),
 (38,),
 (41,),
 (45,),
 (46,),
 (47,),
 (48,),
 (49,),
 (55,),
 (57,),
 (58,)]

#### Question 7: Write a query that returns the artist name and total number of tracks of the Blues bands.
- [Output relation cardinality: 5 rows]

Logic:
1. Join the artists, albums, tracks, and genres tables.
2. Filter the results to include only tracks that belong to the "Blues" genre.
3. Group by artist name.
4. Count the tracks for each artist.
5. Return artist name and the count of tracks.

In [32]:
# Fixed: Use the correct SQLite syntax to list all tables
cmd = \
"""
  SELECT ar.Name,
         COUNT(t.TrackId) AS TotalTracks
    FROM artists AS ar
    JOIN albums AS al 
      ON ar.ArtistId = al.ArtistId
    JOIN tracks AS t 
      ON al.AlbumId = t.AlbumId
    JOIN genres AS g 
      ON t.GenreId = g.GenreId
   WHERE g.Name = 'Blues'
GROUP BY ar.Name;
"""
query_db('chinook.db', cmd)

[('Buddy Guy', 11),
 ('Eric Clapton', 32),
 ('Iron Maiden', 9),
 ('Stevie Ray Vaughan & Double Trouble', 10),
 ('The Black Crowes', 19)]

### PART 2

/*
Question 1: (10 points) Compute the total departure delay of each airline across all flights.
a. Name the output columns name and delay, in that order.
[Output relation cardinality: 22 rows]
*/

/*
Logic:
1. Join the FLIGHTS table with the CARRIERS table to get airline names
2. Group the results by airline name (CARRIERS.name)
3. Calculate the sum of departure_delay for each airline
4. Select the airline name and the total delay
*/

In [ ]:
# Fixed: Use the correct SQLite syntax to list all tables
cmd = \
"""
  SELECT c.name,
         SUM(f.departure_delay) AS delay
    FROM FLIGHTS AS f
    JOIN CARRIERS AS c 
      ON f.carrier_id = c.cid
GROUP BY c.name;
"""
query_db('hw2.db', cmd)

[('ATA Airlines d/b/a ATA', 38676),
 ('AirTran Airways Corporation', 473993),
 ('Alaska Airlines Inc.', 285111),
 ('America West Airlines Inc. (Merged with US Airways 9/05. Stopped reporting 10/07.)',
  173255),
 ('American Airlines Inc.', 1849386),
 ('Comair Inc.', 282042),
 ('Continental Air Lines Inc.', 414226),
 ('Delta Air Lines Inc.', 1601314),
 ('Envoy Air', 771679),
 ('ExpressJet Airlines Inc.', 934691),
 ('ExpressJet Airlines Inc. (1)', 483171),
 ('Frontier Airlines Inc.', 165126),
 ('Hawaiian Airlines Inc.', 386),
 ('Independence Air', 201418),
 ('JetBlue Airways', 435562),
 ('Northwest Airlines Inc.', 531356),
 ('SkyWest Airlines Inc.', 682158),
 ('Southwest Airlines Co.', 3056656),
 ('Spirit Air Lines', 167894),
 ('US Airways Inc.', 577268),
 ('United Air Lines Inc.', 1483777),
 ('Virgin America', 52597)]

/*
Question 2: (10 points) Find the total capacity of all direct flights between San Diego and San
Francisco on July 1th (i.e., SD to SF or SF to SD).
a. Name the output column totalcapacity.
[Output relation cardinality: 1 row]
*/

/*
Logic:
1. Filter the FLIGHTS table for flights on July 1st (month_id = 7, day_of_month = 1)
2. Filter for flights between San Diego and San Francisco in either direction:
   - Either origin_city = 'San Diego' AND dest_city = 'San Francisco'
   - OR origin_city = 'San Francisco' AND dest_city = 'San Diego'
3. Sum the capacity of all matching flights
4. Return the sum as totalcapacity
*/

In [ ]:
cmd = \
"""
SELECT SUM(f.capacity) AS totalcapacity
  FROM FLIGHTS AS f
 WHERE f.month_id = 7 
   AND f.day_of_month = 1
   AND ((origin_city = 'San Diego CA' AND dest_city = 'San Francisco CA')
       OR (origin_city = 'San Francisco CA' AND dest_city = 'San Diego CA')
);
"""
query_db('hw2.db', cmd)